RG_NAME="rg-feedback-platform"
LOCATION="brazilsouth"

KEY_VAULT_NAME="kv-feedback-seunome01"
STORAGE_ACCOUNT_NAME="stfeedbackseunome01"
DB_SERVER_NAME="pg-feedback-seunome01"

COMMUNICATION_SERVICE_NAME="acs-feedback-seunome01"
EMAIL_SERVICE_NAME="aes-feedback-seunome01"
ADMIN_EMAIL="ex.email@mail.com;email.admin@mail.com"

FUNCTION_LOGIN_NAME="func-feedback-seunome-login"
FUNCTION_CORE_NAME="func-feedback-seunome-core"
FUNCTION_REPORT_NAME="func-feedback-seunome-report"

LOGIN_REPO="KervinCandido/az-func-feedback-login"
CORE_REPO="KervinCandido/az-func-feedback-core"
REPORT_REPO="KervinCandido/az-func-feedback-report"

RUN_REPORT_TRIGGER="false"
RUN_CLEANUP="false"
